footer {
  width: 100%;

  .order-area {
    width: 100%;
    height: 116px;
    background-color: $primary-color;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include phone {
      width: 100%;
      height: 186px;
      flex-direction: column;
    }

    .brand {
      display: flex;
      margin-top: 38px;
      margin-left: 122px;

      @include phone {
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;
      }

      @include tablet {
        margin-left: 62px;
      }

      .logo {
        width: 40px;
        height: 40px;
        background-image: url(../images/logo-light.svg);
      }

      h3.slogan {
        font-size: 24px;
        height: 40px;
        line-height: 40px;
        color: $primary-color-light;
        margin-left: 20px;
      }
    }

    .input-form {
      margin-top: 30px;
      margin-right: 122px;
      display: flex;
      position: relative;

      @include phone {
        margin: 23px auto 30px auto;
      }

      @include tablet {
        margin-right: 62px;
      }

      i.material-icons.mail {
        position: absolute;
        top: 16px;
        left: 20px;
        color: $primary-color;
      }

      input.form-control {
        width: 316px;
        height: 56px;
        background-color: $primary-color-light;
        border: none;
        vertical-align: middle;
        padding: 16px 20px 16px 50px;
        color: $primary-color;
        font-size: 16px;

        @include phone {
          width: 100%;
        }

        @include tablet {
          width: 276px;
        }
      }

      .submit-btn {
        width: 64px;
        height: 56px;
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s;

        &:hover {
          background-color: darken($secondary-color, 17%);
        }

        i.material-icons.arrow {
          color: $primary-color;
        }
      }
    }
  }

  .info-area {
    width: 100%;
    height: 341px;
    background-color: $primary-color-light;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include phone {
      width: 100%;
      height: 311px;
      justify-content: space-around;
      flex-direction: column;
    }

    .left-panel {
      margin-top: 39px;
      margin-left: 126px;

      @include phone {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        width: 375px;
        height: 242px;
        padding-top: 39px;
      }

      @include tablet {
        margin-left: 62px;
      }

      .brand {
        width: 171px;
        height: 26px;
        @include bg-set(url(../images/logotype.svg));
        margin-bottom: 115px;

        @include phone {
          margin-bottom: 0px;
          position: absolute;
          left: 30px;
        }
      }

      ul.info {
        color: $primary-color;
        font-size: 16px;
        font-weight: bold;

        @include phone {
          position: absolute;
          left: 30px;
          top: 105px;
        }

        li {
          margin-bottom: 10px;
        }
      }

      ul.social-media {
        color: $primary-color;
        display: flex;
        margin-top: 30px;

        @include phone {
          margin-top: 0px;
          position: absolute;
          bottom: 0px;
          left: 30px;
        }

        li {
          width: 32px;
          height: 32px;

          &:last-child {
            margin-left: 8px;
          }

          a {
            display: block;
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .right-panel {
      margin-top: 30px;
      margin-right: 122px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include phone {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        display: block;
        width: 375px;
        height: 69px;
        position: relative;
        padding-top: 23px;
        padding-bottom: 30px;
      }

      @include tablet {
        margin-right: 62px;
      }

      .title {
        width: 59px;
        height: 219px;
        @include bg-set(url(../images/sm-今天是個吃甜點的好日子.svg));

        @include phone {
          display: none;
        }
      }

      .copyright {
        font-size: 16px;
        color: $primary-color;
        margin-top: 46px;
        font-family: serif;

        @include phone {
          margin-top: 0px;
          position: absolute;
          left: 30px;
        }

        p {
          font-family: 'Times New Roman', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', sans-serif;
        }
      }
    }
  }
}
